body.dark-mode {
  background-color: #333;
  color: #fff;
}

h2.dark-mode {
  color: #fff;
}

p.dark-mode {
  color: #ccc;
}
body {
    /* Dark mode styles */
  }
  
  header {
    background-color: #111;
    color: #fff;
  }

  
  
  footer {
    background-color: #111;
    color: #fff;
  }
  